html, body {margin:0;padding:0;height:100%;}

body {
    overflow:hidden;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


p {
	font-size: 4vh;
}

h2 {
	font-size: 8vh;
}


li {
	font-size: 4vh;
}


h3 {
	font-size: 6vh;
}

.overlay {
  height:100vh;
  min-height:100vh;	
}

.slide {
  padding: 3% 4% 0 8%;
}

.hidden {
	display: none;
}